export OTEL_EXPORTER_OTLP_COMPRESSION=gzip
export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317 
export OTEL_EXPORTER_OTLP_METRICS_DEFAULT_HISTOGRAM_AGGREGATION=base2_exponential_bucket_histogram
export OTEL_EXPORTER_OTLP_METRICS_DISABLED=false
export OTEL_METRIC_EXPORT_INTERVAL=1000
export OTEL_RESOURCE_ATTRIBUTES="service.instance.id=johndoe-macbook"
export OTEL_SEMCONV_STABILITY_OPT_IN=http
export OTEL_SERVICE_NAME=rest-api-test-local
export OTEL_TRACES_SAMPLER_ARG="1"
export OTEL_TRACES_SAMPLER="traceidratio"